<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <ListViewPanel
    id="TwilioMessageLV">
    <Require
      name="twilioMessages"
      type="TwilioSMS[]"/>
    <Require
      name="util"
      type="exv.twilio.common.MessageUtil"/>
    <Require
      name="ActionVisible"
      type="Boolean"/>
    <Require
      name="SendTimeVisible"
      type="Boolean"/>
    <Require
      name="ReceivedTimeVisible"
      type="Boolean"/>
    <RowIterator
      editable="true"
      elementName="sms"
      value="twilioMessages"
      valueType="TwilioSMS[]">
      <Row>
        <TypeKeyCell
          action="ViewSMSPopup.push(sms)"
          id="TypeOfMessage"
          label="&quot;MessageType&quot;"
          value="sms.TypeOfMsg"
          valueType="typekey.TwilioSMSType"/>
        <TextCell
          id="MessageBody"
          label="&quot;Message Body&quot;"
          value="sms.MessageBody"/>
        <TextCell
          id="FormNumber"
          label="&quot;From&quot;"
          value="sms.FromNumber"/>
        <TextCell
          id="ToNumber"
          label="&quot;To&quot; "
          value="sms.ToNumber"/>
        <TypeKeyCell
          id="Status"
          label="&quot;Status&quot;"
          value="sms.Status"
          valueType="typekey.TwilioDeliveryStatus"/>
        <DateCell
          id="SendTime"
          label="&quot;SendTime&quot;"
          timeFormat="medium"
          value="sms.SendTime"
          visible="SendTimeVisible"/>
        <DateCell
          id="ReceivedTime"
          label="&quot;ReceivedTime&quot;"
          timeFormat="medium"
          value="sms.ReceivedTime"
          visible="ReceivedTimeVisible"/>
        <TextCell
          id="Claim"
          label="&quot;ClaimNumber&quot;"
          value="sms.ClaimContactID.Claim.ClaimNumber"
          valueType="String"></TextCell>
        <ButtonCell
          action="if(sms.Type == MessageType.TC_INCOMING) {SendSMSPopup.push(sms.ClaimContactID)}"
          id="ActionButton"
          label="&quot;Actions&quot;"
          value="&quot;Reply&quot;"
          visible="ActionVisible"
          __disabled="true"/>
      </Row>
    </RowIterator>
  </ListViewPanel>
</PCF>