/**
 * Generic Tab Bar style variable definitions for all Guidewire themes
 */

$tabbar-background-gradient: none !default;
$tabbar-strip-border-color: $gw-tab-border-color;
$tabbar-strip-height: 1px !default;